.container{
    float: left;
    padding: 20px;

}
.left-container{
    width: 35%;

}.primaryColor {
  width: 10px;
  height: 30px;
  background-color: #7749f8;
}
.upperComponent {
  margin-left: 100px;
  font-size: larger;
}
.component {
  float: left;
  width: 500px;
  /* background-color: purple; */
}
.leftTable {
  border: 1px solid;
  width: 300px;
  height: 50px;
  /* border-color: blue; */
}

/* table, td, th {
    border: 1px solid;
    width: fit-content;
  } */

table {
  row-gap: 50px;
  width: 25%;
  border-collapse: collapse;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.container {
  display: block;
  position: relative;
  padding-left: 19px;
  margin-bottom: 12px;
  font-size: 10px;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  /* width: 0; */
}




.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 12px;
  width: 12px;
  background-color: white;
  border: 1px solid grey;
  border-radius: 2px;
}

.container input:checked ~ .checkmark {
  background-color: purple;
}

.checkmark:after {
  content: "";
  position: relative;
  display: none;
}

.container input:checked ~ .checkmark:after {
  display: block;
}

.container .checkmark:after {
  left: 4.5px;
  top: 2.5px;
  width: 2.5px;
  height: 5px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.class1 {
  border-color: green;
  width: 300px;
  height: 25px;
  border-radius: 5px;
}
.class2 {
  border-color: red;
}
.upperRow {
  background-color: red;
}
.leftTable {
  border-collapse: collapse;
  /* border-spacing: 0;
  /* width: 250px; */
  border: 1px solid #ddd;
}
tr {
  height: 50px;
  border: 1px solid #ddd;
}
td {
  padding-left: 15px;
}
/* tr:hover {
  background-color: #7450fa;
} */
.onHover {
  background-color: #7450fa;
  color: white;
}
input,
select {
  border: 1px solid #ddd;
}
#placeholder,
#dropdown,
#textArea {
  margin: 10px 0px 10px 0px;
  height: 8px;
  width: 50%;
  border-radius: 2px;
  padding: 10px;
  color: grey;
}

#textArea {
  height: 75px;
}
table.borderless {
  border: solid white;
  position: relative;
  font-size: 12px;
  width: 100%;
}
.bod1 {
  text-align: left;
  padding-left: 15px;
}
.borderless tr{
    border: none;

}
/* .class1 {
  position: relative;
  margin-top: 15px;
} */
.val {
  margin-bottom: 10px;
}
.class1 {
  position: relative;
  margin: 15px 0px 10px 0px;
}