.primary-colors{
    /* width: 100%; */
    width: 600px;
    height: 300px;
    background-color: red;
    overflow: hidden;
}
.primary-box{
    width: 500px;
    height: 200px;
    width: 100%;
    background-color: green;

    /* border-color: blue; */
}
.primary-text{
    width: 400px;
    height: 100px;
    background-color: blue;

    /* border-color: green; */
}