* {
    margin: 0;
    padding: 0;
    /* border: 1px solid rgb(146, 14, 14); */
  }
  html,
  body {
    max-width: 100%;
    /* overflow-x: hidden; */
  }
  .list{
      text-decoration: none;
  }
  .header{
    padding-top: 30px;
    padding-bottom: 20px;
    background-color:rgb(239, 233, 233) ;
    
  }
  .hrLine{
    width: 75%;
    margin-left: 7%;
  }
  
  .sec,
  .header,
  .titleText,.hrLine {
    position: relative;
    padding-left: 7%;
  }
  
  .headerText {
    display: inline;
    float: left;
    font-size: 25px;
    margin-right: 5%;
  }
  .page1Headerright {
    width: 50%;
    display: inline;
    float: left;
  }
  
  .page1Headerright ul li {
    text-decoration: none;
    display: inline;
    color: #54595e;
    padding: 10px;
  
    /* border: 4px solid black; */
  }
  a {
    text-decoration-color: grey;
  }
  #button1 {
    font-size:x-small;
    border-color: rgb(119, 221, 119);
    background-color: white;
    border-radius: 5px;
    color: #4caf50;
    width: 65px;
    /* text-align: right; */
    height: 36px;
    padding: 7px;
  }
  
  .search {
    font-size: large;
 
    color: #d7dee6;
    border: 0px solid grey;
    border-radius: 5px;
    height: 31px;
    width: 20%;
    text-align: left; 
  
    padding: 2px 23px 2px 30px;
    outline: 0;
    background-color: #f5f5f5;
  }
  .page1Headerright {
    position: relative;
    left: 5%;
    /* width: 50%; */
    /* border: 4px solid rgb(146, 14, 14); */
  }
  
  
  .primaryColor {
    width: 10px;
    height: 30px;
    background-color: #7749f8;
  }
  table, td, th {
    /* border: 1px solid; */
    height: 35px;
    width: 25%;
    border-collapse: collapse;
  }

  .one, .two, .three, .next, .previous {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
  }
  .one:hover, .two:hover, .three:hover, .next:hover, .previous:hover {
    background-color: purple;
    color: white;
    
  }
  
  
  .one, .two, .three, .next, .previous {
    background-color: white;
    color: purple;
  }
  table{
      width: 100%;
  }
  th, td {
    padding: 5px;
    text-align: center;
  }

  tr:nth-child(even){
      background-color: rgb(243, 240, 240);
  }

  .leftAlignButtons{
      padding-left: 75%;
  }