* {
    margin: 0px;
    padding: 0px;
    /* border: 1px solid rgb(146, 14, 14); */
  }
  .header {
    margin: 0;
    padding: 0;
    border: 0;
    /* font: inherit;
    vertical-align: inherit;
    outline: none;
    letter-spacing: inherit;
    text-decoration: none;
    cursor: inherit; */
    background-color: #e5e5e5;
    height: 50px;
    width: 100%;
  }
  .listDiv {
    position: relative;
  }
  .heading {
    float: left;
    padding-left: 40px;
    /* padding-top: 32px; */
    /* margin-bottom: 50px; */
    /* background-color: red; */
  }
  ul.listItems li {
    padding-top: 32px;
    display: inline-block;
    list-style: none;
    padding: 10px;
  }
  
  /* ul li{
      float: right;
  } */
  
  ul li .btn {
    border-color: yellow;
  }
  

.base{
    border-color: purple;
    background: #292838;
    /* color: white; */
}
.footer{
    position: relative;
    /* background-color: #292838; */
    display: inline;
    float: left;
    border-color: black;

    /* background:Red; */

    /* padding: 10px; */
}
.footerRight{
    position: absolute;
    float: right;
    padding-right: 40px;
    width: 65%;
    border-collapse: collapse;
    border: 2px solid black;
}
table, th, td {
    position: absolute;
    border: 3px solid white;
    float: left;
    padding-left: 20px;
  }
  .footer-text {
    text-align: center;
    margin-top: 20px;
    color: rgba(255, 255, 255, 0.8);
    font-size: 15px;
  }