*{
    border:0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}
#container{
    position: relative;
    height: 500px;
    width: 500px;
    /* background-color: red; */
    border: 2px solid red;
    margin: 150px;
}
#ball{
    position: relative;
    height: 30px;
    width: 30px;
    background-color: red;
    /* border: 2px solid red; */
    /* margin: 150px; */
    border-radius: 50%;

}