
.feature1{
    display: flex;
}
.feature1-left{
    width: 50%;
    /* background-color: red; */
}
.our-features, .news-res>h2, .what-say > h2{
    margin: 20px;
    text-align: center;
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 180%;
color: #2F327D
}


.feature1-left > img{
    /* width: 200px; */
    width: 530px;

}
.feature1-right > h2{
    text-align: left;
}
.feature1-right{
    padding: 19px;
    float: right;
    width: 50%;
}
table{
    width: 90%;
}
 .what-say> p, table {
    margin-left:20px ;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 120%;
    letter-spacing: 0.02em;
color: #696984;
}
.feature-2-student > p{
    width: 100%;
    line-height: 120%;
}

.assign-card{
    background-color: grey;
}
.feature3{
    display:flex ;
}
.testo-card > p{
    color: #5F5F7E;
    font-family: 'Poppins';

}
.test-text > span{
    text-align: center;
    font-family: 'Nunito Sans';
    color: #525596
}

.what-say {
    text-align: center;
    width: 100%;
    margin: auto;
/* border: 1px solid #F48C06; */
border-radius: 80px;
}