.page{
    padding: 0px 20px 0px 20px;
    border-color: aqua;
      /* border: 1px solid rgb(146, 14, 14); */
}

.bigBox{
    border-color: purple;
    margin: 5px 150px 5px 150px ;
}

.smallBox{
    width: 45%;
    float: left;
    padding: 20px;
    /* border: 2px solid red; */
    /* background-color: orange; */
} 
.para{
    padding: 20px;
}
/* .boxLeft{
    background-color: purple;

} */

.listItems {
    float: right;
}

img.img{
    height: 360px;
    width: 390px; 
    border-radius: 0px;
    padding-left: 10px;
    
}
img.img2{
    height: 50px;
    width: 50px;
    padding: 5px 20px 5px 100px;
}

img.img3{
    height:200px ;
    width: 180px;
    padding: 5px 20px 5px 30px;
}
.centreBox {
    /* background-color: purple; */
    float: left;
    width: 250px;
    display: inline;
    margin-top: 75px;
    /* padding: 20px; */
    margin-left: 36px;
    /* border-color: pink; */
}
.text{
    text-align: center;  
    font-size: 20px;
}
.text2{
    text-align: left;
}
.blogClass{
    position: relative;
}
.centerMain{
    position: relative;
    margin-top: 400px;
    height: 324px;

}
#what{
    position: absolute;
    margin-bottom: 100px;
    /* margin-top: 300px; */
    height: 150px;
}
