
.book-text{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: -0.005em;
    text-align: left;    
    color: #14183E;
    padding: 5px;

}
.book-card-header{
    font-family: Poppins;
font-size: 18px;
font-weight: 500;
line-height: 22px;
letter-spacing: 0.015em;
text-align: left;

}
.book-card-big{
    padding: 10px;
    width: 90%;
    float: right;
    background-color:#ffffff;
}
.book-card-photo img{ 
    width:300px;
    margin: 0 auto;
}
.book-card:hover{
    background-color: hsl(0, 32%, 76%);
    border-radius: 10px;
}
.left-icon img{
    float: left;
    height: 15px;
    width: 15px;
    padding: 2px;
}
.book-card-small{
    margin-top: 185px;
    margin-left: 199px;
    position:absolute;
    /* display: none; */
}
.book-card-small-img {
    float: left;
}

.book-card-small-txt > p > span{
    color: rgb(130, 37, 192);
}

.book-card-small-txt {
    /* background-color: red; */
    text-align: left;
    float: left;
}
.book-card-small-txt >p{
    font-size: 12px;
    line-height: 1.2;
}
/* .book-text > span{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: center;
    color: #5E6282;
} */
.book-text2{
    width: 49%;
    font-family: Volkhov;
    font-size: 50px;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: 0em;
    text-align: left;
    width: 511px;
    height: 130px;
    left: 186px;
    top: 2459px;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 64px;
    text-transform: capitalize;

}
.book-text2 > span{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #5E6282;

}
.book-text2 > h2{
    width: 95%;
    font-family: Volkhov;
    font-size: 50px;
    font-weight: 700;
    line-height: 65px;
    letter-spacing: 0em;
    text-align: left;
    color: #14183E;

}

.choose-dest img{
    /* position: absolute; */
    height: 40px;
    width: 40px;
    float: left;
}

.booking{
    width: 45%;
    /* background-color: blue; */
    float: right;
    position: relative;
}

.book-text > h2{
    /* position: absolute; */
    left: 186px;
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 64px;
    text-transform: capitalize;
}
.book-info{
    float: left;
    text-align: left;
}
.choose-dest{
    color: #5E6282;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 124.5%;
    width:100% ;

}
.feat-1{
    width: 70%;
    padding: 10px;
    /* background-color: red; */
}
.feat-1 > span{
    float: left;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    color: #5E6282;

}
.feat-1 p{
    float: left;
    text-align: center;
    font-family: 'Poppins';
    /* font-style: normal; */
    font-weight: 200;
    font-size: 10px;
    color: #5E6282;
    /* color: red; */
}
.book-feature{
    float: left;
    width: 50%;
}

@media only screen and (max-width: 1000px)  {
    .book-text2 > h2{
        font-size: 30px;
    }
    
    
    .boooking{
        margin: 0 auto;
        clear: both;
        width: 100%;
        /* display: none; */
    
    }
    .book-next{
        margin: 0 auto;
        clear: both;
        width: 100%;
        margin-left: 100px;
        margin-top: 165px;
    }
    
}
@media only screen and (max-width: 650px)  {
    .feat-1{
        margin: 0 auto;
        clear: both;
        width: 100%;
        text-align: center;
    }
    .feat-1 > img{
        margin: 0 auto;
        clear: both;
        margin-left: 200px;

}
    .book-next{
    margin: 0 auto;
    clear: both;
    width: 100%;
    }
    .boooking{
        margin: 0 auto;
        clear: both;
        width: 100%;
        display: none;
    
    }
}
