

.body{
    margin: auto;
    width: 80%;
    /* border: 3px solid #73AD21; */
    padding: 10px;
}
.category-text {
    /* background-color: blue; */
    text-align: center;
}
.catageory-card{
    padding: 10px;
    width: 25%;
    float: left;
}
.icon-text {
    font-size: 13px;
    /* text-align: center; */
}
.icon-text > span{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
}
.catageory-card:hover{
    background-color: hsl(0, 32%, 76%);
    color: white;
    border-radius: 10px;
}
@media only screen and (max-width: 650px) {
    .catageory-card{
        clear: both;
        width: 100%;
        margin: 0 auto;
        text-align: center;
        padding-left: 100px;
        padding-bottom: 20px;
        /* display: none; */

    }
    .catageory-four-cards{
        width: 100%;
        margin: 0 auto;
        text-align: center;
        
    }
    
}
@media only screen and (max-width: 1000px) {

    .catageory-card{
        width: 50%;
        margin: 0 auto;
        text-align: center;
        /* display: none; */
    }
  } 