*{
    padding: 0;
    margin: 0;
    /* border: 1px solid red; */
}
#container{
    position: relative;
    width: 500px;
    height: 500px;
    /* background-color: red; */
    margin: 75px;
    border: 2px solid black;
}