.btn{
    display: inline;
    width: 189px;
    padding: 16px 30px 16px 30px;
    height: 50px;
    color:#FFFFFF;
    background-color: #4E42D9;
    border-radius:  4px;
    font-size: 16px;
}
.btn2{
    width: 133px;
    background: rgba(78, 66, 217, 0.18);;
    color:#4E42D9;
}